body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px;
    margin-top: 0px;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    justify-content: space-around;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
    min-height: 80vh;
  }
  .header{
    text-align: center;
    background-color: lightblue;
    color: black;
    font-size: 3rem;
    padding: 20px;
  }